force-app/main/default/flows/CaseAssginDateTimeBasedOnProfiles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>assignDateTime</name>
        <label>assignDateTime</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfAssignDateTimeFieldIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Case_Assigned_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecord</targetReference>
            </connector>
            <label>IfAssignDateTimeFieldIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseReAssignDateTime</name>
        <label>CaseReAssignDateTime</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseReAssignDateTimeField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Case_Reassigned_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecords</targetReference>
            </connector>
            <label>CaseReAssignDateTimeField</label>
        </rules>
    </decisions>
    <decisions>
        <name>csTeamProfileOrOthers</name>
        <label>csTeamProfileOrOthers</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>csTeamProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getAllProfile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDateTime</targetReference>
            </connector>
            <label>csTeamProfile</label>
        </rules>
        <rules>
            <name>Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getAllProfile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseReAssignDateTime</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Created_For_Case</name>
        <label>Is Created For Case?</label>
        <locationX>1007</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkItemId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllProfile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetCurrentDateTIme</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>CaseAssginDateTimeBasedOnProfiles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseAssginDateTimeBasedOnProfiles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllProfile</name>
        <label>getAllProfile</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>csTeamProfileOrOthers</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Service Executive</stringValue>
            </value>
        </filters>
        <object>Profile</object>
    </recordLookups>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Assigned_DateTime__c</field>
            <value>
                <elementReference>GetCurrentDateTIme</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecords</name>
        <label>updateRecords</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Reassigned_DateTime__c</field>
            <value>
                <elementReference>GetCurrentDateTIme</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Is_Created_For_Case</startElementReference>
    <status>Active</status>
</Flow>
