force-app/main/default/flows/Search_Order_Using_Order_Number_In_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Bot_Message_When_Order_Found</name>
        <label>Bot Message When Order Found</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>successMessageV1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You have Selected Order - {!orderName} valued at {!orderAmount}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Bot_Message_When_Order_Not_Found</name>
        <label>Bot Message When Order Not Found</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>successMessageV1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Number is Invalid, please try again</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Order_Found</name>
        <label>Order Found</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Bot_Message_When_Order_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_by_Order_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bot_Message_When_Order_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Search Order Using Order Number In Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search Order Using Order Number In Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_by_Order_Number</name>
        <label>Get Order by Order Number</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Found</targetReference>
        </connector>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderNumberFromChatbot</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>orderName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>orderAmount</assignToReference>
            <field>TotalAmount</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Order_by_Order_Number</startElementReference>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderNumberFromChatbot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>successMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>successMessageV1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
